body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: $main-color;
}

/************ HEADER ***********/

header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $title-font;
}

.items-facts {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;

    p {
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}

.add-item {
    color: white;
    background-color: $main-color;
    border-radius: 20px;
    border: 2px solid #222222;
    transition: all 0.2s ease-in;
    
    &:hover {
        cursor: pointer;
        background-color: #222222;
        color: $main-color;
        border-color: $main-color;
    }
}

/************ ITEMS ***********/

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container {
    width: 600px;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    margin-bottom: 20px;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 5px;
}

.description {
    width: 400px;
    margin: 20px;
    color: #ffffff;
    font-family: $text-font;
}

.item-actions-icons {
    width: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fa-pencil-alt {
    font-size: 14px;
    color: #babd00;
    position: absolute;
    top: 35px;
    right: 20px;

    &:hover {
        cursor: pointer; 
        font-size: 16px;
    }
}

.fa-minus-circle {
    font-size: 14px;
    color: #c40000;
    position: absolute;
    top: 85px;
    right: 20px;

    &:hover {
        cursor: pointer;
        font-size: 16px;
    }
}

.fa-check {
    font-size: 14px;
    color: #008000;
    position: absolute;
    top: 35px;
    right: 20px;
    
    &:hover {
        cursor: pointer;
        font-size: 16px;
    }
}

.fa-times {
    font-size: 14px;
    color: #ff0000;
    position: absolute;
    top: 85px;
    right: 20px;

    &:hover {
        cursor: pointer;
        font-size: 16px;
    }
}

.hide {
    visibility: hidden;
}

.edit-description {
    width: 350px;
    height: 70px;
    margin: 10px;
    font-family: $text-font;
    border-radius: 5px;
}


/************ FOOTER ***********/

footer {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    font-size: 10px;
    text-align: right;
    bottom: 0;
}


/******************** RESPONSIVE ***********************/

@media (max-width: 910px) {
    .item-container {
        width: 500px;
    }

    .description {
        width: 300px;
    }

    .edit-description {
        width: 250px;
    }
}

@media (max-width: 550px) {
    .item-container {
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .description {
        height: 50px;
        margin-top: 10px;
        text-align: center;
    }

    .edit-description {
        height: 50px;
    }

    .item-actions-icons {
        width: 200px;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}